#*******************************************************************************
#   ___   public
#  ¦OUX¦  GNU “make”
#  ¦/C+¦  OUX/C+ OS
#   ---   boot loader
#         environment variables
# (c)overcq              on WSL\Debian (Linux 6.18.33.2)             2026-8-29 K
#*******************************************************************************
H_ocq_S_mnt := /mnt
H_ocq_S_virtualbox_disk := /OUX_C+\ OS/OUX_C+\ OS.vmdk
H_ocq_S_vmware_disk := /OUX_C+\ OS/OUX_C+\ OS.vmdk
H_ocq_S_usb_dev := /dev/
H_ocq_S_mkfs_oux := /linux-ouxfs-tools/mkfs-oux
#*******************************************************************************
